p
{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    margin-bottom: 2px;
}

.Flexbox
{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.Profile
{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    
    margin: 10px; 
}

.Image-Row
{
    
}

.Text-Row
{
    
}

.Button-Row
{
        
}

.User-Image
{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    object-fit: cover;
}

.Username
{
    font-weight: bold;
    font-size: 17px;
}

.Middle-text
{
    color: gray;
    font-size: 18px;
    
}

.Middle-text1
{
    color: gray;
    font-size: 15px;
}

.Follow-button
{
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
}