input {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  /*Padding : size it will
    have in the inside*/

  padding: 12px 16px 12px 16px;

  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.txt1-firstN,
.txt2-firstN {
  width: 139px;
}

.Email {
  display: block;
  width: 315px;
}

.Sign-Up {
  padding: 10px 150px 10px 150px;
  border: none;
  color: white;
  background-color: rgb(47, 127, 231);
  border-radius: 5px;
}
