.title {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  display: block;
  width: 219px;
  padding: 10px 80px 10px 10px;
  margin-bottom: 10px;
}

.Inpt-Place,
.Inpt-Destination {
  border: none;
  background-color: gray;
}

.Inpt-Destination {
  margin-bottom: 25px;
}

button {
  border: none;
  padding: 10px 15px 10px 15px;
}

.Rqst-Now {
  background-color: black;
  color: white;
  margin-right: 20px;
}

.Schdl-Ltr {
  background-color: gray;
  color: black;
}
