p
{
    font-family: Arial, Helvetica, sans-serif;
}

.Grid
{

    display: grid;
    grid-template-columns: 200px 200px 200px;

    column-gap: 20px;
}

.Profile
{
    width: 200px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}

.User-Picture
{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.User-information
{
  
}

.Name
{
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 10px;  
    font-size: 22px;
    font-weight: bold;
}

.Mutual-Friend-Row
{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    margin-left: 8px;
    margin-bottom: 10px;
    column-gap: 8px;
    
}

.Mutual-Friend-Picture
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.Mutual-Friends
{
    color: gray;
    font-weight: bold;
}

.Button-AddFriend
{
    background-color: rgb(27, 126, 245);
    padding: 15px 28px 15px 28px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 9px;
    margin-left: 10px;
}